<div id="productCube" class="productCube" align="center">
    <div id="izq" class="face izq" style="transform: rotateY(-90deg) translateX(-50%) rotateY({{izqFaceProduct}}deg) translateX(50%) rotateY(90deg)">
        <div class="container">

                  
		</div>
        <a href="" ng-click="animarProductCubeLeft()">Ver</a>
        <a href="" ng-click="animarProductCubeRight()" style="float: left">Ver</a>  
    </div>
    <div id="front" class="face front"   style="transform: rotateY(-90deg) translateX(-50%) rotateY({{frontFaceProduct}}deg) translateX(50%) rotateY(90deg)">
        <div class="container">
        <a href="" ng-click="contenidoProducto(0)">Ver</a>
            
        </div>
        <a href="" ng-click="animarProductCubeLeft()">Ver</a>
        <a href="" ng-click="animarProductCubeRight()" style="float: left">Ver</a>  
    </div>
    <div id="der" class="face der" style="transform: rotateY(-90deg) translateX(-50%) rotateY({{derFaceProduct}}deg) translateX(50%) rotateY(90deg)">
        <div class="container">
        		
		</div>
        <a href="" ng-click="animarProductCubeLeft()">Ver</a>   
        <a href="" ng-click="animarProductCubeRight()" style="float: left">Ver</a>  
    </div>
    <div id="back" class="face back" style="transform: rotateY(-90deg) translateX(-50%) rotateY({{backFaceProduct}}deg) translateX(50%) rotateY(90deg)">
        <div class="container">
            	
		</div>
        <a href="" ng-click="animarProductCubeLeft()">Ver</a>   
            <a href="" ng-click="animarProductCubeRight()" style="float: left">Ver</a> 
    </div>
</div>