<div id="experiment">
    <div id="cube" class="cube" align="center">
        <div id="front" class="face front">
            <h1>{{tituloModal}}</h1>
        </div>
        <div id="side" class="face izq">
            <h1>{{tituloModal}}</h1>
        </div>
        <div id="side" class="face der">
            <h1>{{tituloModal}}</h1>
        </div>
    </div>
</div>

<style type="text/css">	
#experiment {
    perspective: 2000px;
    height: 100%; 
    width: 100%; 
    position: absolute;
    top: 40%;
}

.cube {
    
}
.face {
    position: absolute;
    height: 100%; 
    width: 100%; 
    color: #fff;
    transition: transform 1.5s linear;
}
.cube .front {

    transform:  rotateY(-90deg) translateX(-50%) rotateY(0deg) translateX(50%) rotateY(90deg);
    transform-origin: center center;
    background-color:gray;
}

.cube .der {
    transform:  rotateY(-90deg) translateX(-50%) rotateY(90deg) translateX(50%) rotateY(90deg); 
    background-color:lightgray;
}
.cube .izq {
    transform:  rotateY(-90deg) translateX(-50%) rotateY(-90deg) translateX(50%) rotateY(90deg); 
    background-color:lightgray;
}
.cube:hover .front {
    transform:  rotateY(-90deg) translateX(-50%) rotateY(-90deg) translateX(50%) rotateY(90deg);
}

.cube:hover .der {
    transform:  rotateY(-90deg) translateX(-50%) rotateY(0deg) translateX(50%) rotateY(90deg); 
}
.cube:hover .izq {
    transform:  rotateY(-90deg) translateX(-50%) rotateY(-180deg) translateX(50%) rotateY(90deg); 
}
</style>