<div id="productCube" class="productCube" align="center">
    <div id="izq" class="face izq" style="transform: rotateY(-90deg) translateX(-50%) rotateY({{izqFaceProduct}}deg) translateX(50%) rotateY(90deg)">
        <div class="container">

                  
		</div>

    </div>
    <div id="front" class="face front"   style="transform: rotateY(-90deg) translateX(-50%) rotateY({{frontFaceProduct}}deg) translateX(50%) rotateY(90deg)">
        <div class="container">
        
            
        </div>
 
    </div>
    <div id="der" class="face der" style="transform: rotateY(-90deg) translateX(-50%) rotateY({{derFaceProduct}}deg) translateX(50%) rotateY(90deg)">
        <div class="container">
        		
		</div>
 
    </div>
    <div id="back" class="face back" style="transform: rotateY(-90deg) translateX(-50%) rotateY({{backFaceProduct}}deg) translateX(50%) rotateY(90deg)">
        <div class="container">
            	
		</div>

    </div>
</div>
<div class="fullscreen" id="productFullScreen">
    <div class="image-container" compile="videoUrl"></div>
    <i class="zmdi zmdi-close cerrar-video" aria-hidden="true" ng-click="closeProductVideo()"></i>
</div>

<i class="fa fa-play abrir-video" id="abrirVideo" aria-hidden="true" ng-click="openProductVideo()" ></i>

