//++++++++++++++++++++++++++++++Extends++++++++++++++++++++++++++++++++++++++++++++++++++
%translateHalf {
	transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}
%navContainerTrans{
	transition: all .5s cubic-bezier(.65,.26,.36,1.06) .3s;
	-moz-transition: all .5s cubic-bezier(.65,.26,.36,1.06) .3s;
	-webkit-transition: all .5s cubic-bezier(.65,.26,.36,1.06) .3s; 
	-ms-transition: all .5s cubic-bezier(.65,.26,.36,1.06) .3s; 
	-o-transition: all .5s cubic-bezier(.65,.26,.36,1.06) .3s;
}
%backgroundImageLanding{
	background-image: linear-gradient(top, #509CD5 50%, #3F4F9B 50%), linear-gradient(#3F4F9B 33.33%, #509CD5 33.33%, #509CD5 66.66%, #3c897c 66.66%);
	background-image: -moz-linear-gradient(top, #509CD5 50%, #3F4F9B 50%), -moz-linear-gradient(#3F4F9B 33.33%, #509CD5 33.33%, #509CD5 66.66%, #3c897c 66.66%);
	background-image: -webkit-linear-gradient(top, #509CD5 50%, #3F4F9B 50%), -webkit-linear-gradient(#3F4F9B 33.33%, #509CD5 33.33%, #509CD5 66.66%, #3c897c 66.66%);
	background-image: -ms-linear-gradient(top, #509CD5 50%, #3F4F9B 50%), -ms-linear-gradient(#3F4F9B 33.33%, #509CD5 33.33%, #509CD5 66.66%, #3c897c 66.66%);
}
%backgroundImageLandingDown{
	background-image: linear-gradient(to right, #eee 50%, #3F4F9B 50%),
					  linear-gradient(to right, #3F4F9B 50%, #509CD5 50%);
	background-image: -moz-linear-gradient(right, #3F4F9B 50%, #3F4F9B 50%),
					  -moz-linear-gradient(right, #3F4F9B 50%, #509CD5 50%);
	background-image: -webkit-linear-gradient(right, #509CD5 50%, #3F4F9B 50%),
					  -webkit-linear-gradient(right, #509CD5 50%, #3F4F9B 50%);
	background-image: -ms-linear-gradient(right, #3F4F9B 50%, #3F4F9B 50%),
					  -ms-linear-gradient(right, #3F4F9B 50%, #509CD5 50%);
}
%backgroundImageModalDown{
background: -moz-linear-gradient(top, rgba(80,156,213,1) 0%, rgba(41,137,216,1) 50%, rgba(108,191,177,1) 50%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(80,156,213,1) 0%,rgba(41,137,216,1) 50%,rgba(108,191,177,1) 50%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(80,156,213,1) 0%,rgba(41,137,216,1) 50%,rgba(108,191,177,1) 50%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#509cd5', endColorstr='#6cbfb1',GradientType=0 ); /* IE6-9 */
}

%backgroundTransLanding{
	transition: all .6s cubic-bezier(.65,.26,.36,1.06) .45s;
	-moz-transition: all .6s ease-in-out .45s;
	-webkit-transition: all .6s ease-in-out .45s; 
	-ms-transition: all .6s ease-in-out .45s; 
	-o-transition: all .6s ease-in-out .45s;
}
%backgroundImageModalRight{
	background-image: linear-gradient(to right, #eee 50%, #3F4F9B 50%),
					  linear-gradient(to right, #509CD5 50%, #6CBFB1 50%);
	background-image: -moz-linear-gradient(right, #509CD5 50%, #509CD5 50%),
					  -moz-linear-gradient(right, #509CD5 50%, #6CBFB1 50%);
	background-image: -webkit-linear-gradient(right, #6CBFB1 50%, #509CD5 50%),
					  -webkit-linear-gradient(right, #6CBFB1 50%, #509CD5 50%);
	background-image: -ms-linear-gradient(right, #509CD5 50%, #509CD5 50%),
					  -ms-linear-gradient(right, #509CD5 50%, #6CBFB1 50%);
}
%buttonTransition{
	transition: .4s fill ease-in-out, .3s opacity ease-in-out ;
	-webkit-transition: .4s fill ease-in-out, .3s opacity ease-in-out ;
	-o-transition: .4s fill ease-in-out, .3s opacity ease-in-out ;
	-moz-transition: .4s fill ease-in-out, .3s opacity ease-in-out ;
	-ms-transition: .4s fill ease-in-out, .3s opacity ease-in-out ;
}

//+++++++++++++++++++++++++++++LandingStyles++++++++++++++++++++++++++++++++++++++++++

.landing {
	position: relative;
	overflow: hidden;
	background-size: 100% 300%; 
	@extend %backgroundTransLanding;   
	background-color: #3F4F9B;
	.navContainer{
		display: block;
	    margin: auto;
	    position: absolute;
	    height: 33%;
	    top: 47.5%;
	    left: 50%;
	    z-index: 1;
	    @media screen and (min-width: $breakTabletSmall) and (max-width: $breakTabletLarge){
	    	width: 86%;
	    }
	    @extend %navContainerTrans;
	    @extend %translateHalf;
		.logo {
			display: block;
			margin: auto;
			position: relative;
			top: 50%;
			left: 50%;
			@extend %translateHalf;
			svg{
				@media screen and (min-width: $breakTabletSmall) and (max-width: $breakTabletLarge){
	    			width: 106%;
	   		 	}
	   		 	.overlay{
	   		 		transition: all .4s cubic-bezier(.65,.26,.36,1.06);
					-moz-transition: all .4s cubic-bezier(.65,.26,.36,1.06);
					-webkit-transition: all .4s cubic-bezier(.65,.26,.36,1.06); 
					-ms-transition: all .4s cubic-bezier(.65,.26,.36,1.06); 
					-o-transition: all .4s cubic-bezier(.65,.26,.36,1.06);
	   		 	}
	   		 	text{
	   		 		font-family: 'Helvetica Neue', Helvetica, sans-serif;
	   		 		font-size: 2em;
	   		 		transition: all .4s cubic-bezier(.65,.26,.36,1.06);
					-moz-transition: all .4s cubic-bezier(.65,.26,.36,1.06);
					-webkit-transition: all .4s cubic-bezier(.65,.26,.36,1.06); 
					-ms-transition: all .4s cubic-bezier(.65,.26,.36,1.06); 
					-o-transition: all .4s cubic-bezier(.65,.26,.36,1.06);
	   		 	}
	   		 	rect{

	   		 		&:hover{
	   		 			cursor: pointer;
	   		 		}
	   		 	}
			}
			
			.button{
				@extend %buttonTransition;
				&:hover{
					cursor: pointer;
				}
				@include logoButtonHover(upper, $upperButtonColor);
				@include logoButtonHover(down, $downButtonColor);
			}
		}
		.nav{
			h2{
				-webkit-transition: .3s transform ease-in-out;
				-moz-transition: .3s transform ease-in-out;
				-ms-transition: .3s transform ease-in-out;
				-o-transition: .3s transform ease-in-out;
				transition: .3s transform ease-in-out;
				&:hover{
					cursor: pointer;
				}
			}
		}
		@media screen and (max-width: $breakSmallLarge) {
		    display: none;
		}
	}
	.banner{
		height: 15%;
		width: 100%;
		position: fixed;
    	z-index: 0;
		bottom: 0;
		background-color: rgba(35, 47, 103, .1);
		h1{
			font-family: "Josefin Sans", Helvetica, sans-serif, verdana;
			text-align: center;
		    font-size: 4em;
		    font-weight: 300;
		    color: white;
		    letter-spacing: .6em;
		    /* margin: 0; */
		    margin: .5em auto .5em auto;
		    transition: all .3s ease-in-out;
		    // -webkit-transition: all .3s ease-in-out;
		    // -moz-transition: all .3s ease-in-out;
		    // -o-transition: all .3s ease-in-out;
		    // -ms-transition: all .3s ease-in-out;
		    // transition: all .3s ease-in-out;
		    @media screen and (min-width: $breakTabletSmall) and (max-width: $breakTabletLarge){
	    		font-size: 3.5em;
	   		}
		    span{
		    	border-right: 4px solid #6CBFB1;
		    	letter-spacing: .1em;
		    	padding-right: .5em;
		    	font-size: .6em;
		    	@media screen and (min-width: $breakTabletSmall) and (max-width: $breakTabletLarge){
	    			font-size: .5em;
	   			}
		    	&:nth-child(2){
		    		border-right: none;
		    		font-size: .6em;
		    		@media screen and (min-width: $breakTabletSmall) and (max-width: $breakTabletLarge){
	    				font-size: .5em;
	   				}
		    	}
		    }
		}
		@media screen and (max-width: $breakSmallLarge) {
		    display: none;
		}

	}
	.nav {
		transition: .5s all ease-in-out;
		&:nth-child(3){margin-top: 5em;}
		h2{
			display: inline-block;
			margin: 0;
			font-family: 'Helvetica Neue';
			font-weight: normal;
			font-size: 1.7em;
			color: white;
		}
	}
	.bg-modal-right{
		height: 100%;
		width: 100%;
		background-size: 200% 100%; 
		@extend %backgroundImageModalRight;
		@extend %backgroundTransLanding; 
		background-position: 0% 0%;  
		position: absolute;
		top: 0;
		left: -100%;
		z-index: 0;
	}
	.bg-modal-down{
		height: 100%;
		width: 100%;
		background-size: 100% 200%; 
		@extend %backgroundImageModalDown;
		@extend %backgroundTransLanding; 
		background-position: 0% 100%;  
		position: absolute;
		top: -100%;
		left: 0%;
		z-index: 0;
	}
	
	.contacto{
		height: 100%;
	    width: 100%;
	    background: white;
	    position: absolute;
	    bottom: -110%;
	    left: 0;
	    display: block;
	    border-top: solid .5em white;
	    z-index: 4;
	    box-shadow: 0 -10px 5px -5px rgba(0, 0, 0, 0.0980392);
	    -webkit-transition: .6s all cubic-bezier(.65,.26,.36,1.06);
	    -moz-transition: .6s all cubic-bezier(.65,.26,.36,1.06);
	    -o-transition: .6s all cubic-bezier(.65,.26,.36,1.06);
	    -ms-transition: .6s all cubic-bezier(.65,.26,.36,1.06);
	    transition: .6s all cubic-bezier(.65,.26,.36,1.06);
	    @media screen and (max-width: $breakSmallLarge) {
	    	height: 100%;
		    width: 100%;
		    background: white;
		    position: absolute;
		    bottom: -110%;
		    left: 0;
		    display: none;
		    border-top: solid .5em white;
		}
	    .overlay{
	    	position: absolute;
	    	width: 70%;
	    	top: 0;
	    	z-index: 15;
	    	height: 100%;
    	    padding-left: 4em;
    		padding-top: 0em;
	    	background: -moz-linear-gradient(left, rgba(108,191,177,1) 0%, rgba(108,191,177,1) 84%, rgba(108,191,177,0) 100%); /* FF3.6-15 */
			background: -webkit-linear-gradient(left, rgba(108,191,177,1) 0%,rgba(108,191,177,1) 84%,rgba(108,191,177,0) 100%); /* Chrome10-25,Safari5.1-6 */
			background: linear-gradient(to right, rgba(108,191,177,1) 0%,rgba(108,191,177,1) 84%,rgba(108,191,177,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6cbfb1', endColorstr='#006cbfb1',GradientType=1 );
	    	@media screen and (max-width: $breakSmallLarge) {
	    		height: 70%;
	    		width: 100%;
	    		padding-left: 1em;
    			padding-top: 1em;
		    	background: -moz-linear-gradient(top, rgba(108,191,177,1) 0%, rgba(108,191,177,1) 87%, rgba(108,191,177,0) 100%); /* FF3.6-15 */
				background: -webkit-linear-gradient(top, rgba(108,191,177,1) 0%,rgba(108,191,177,1) 87%,rgba(108,191,177,0) 100%); /* Chrome10-25,Safari5.1-6 */
				background: linear-gradient(to bottom, rgba(108,191,177,1) 0%,rgba(108,191,177,1) 87%,rgba(108,191,177,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6cbfb1', endColorstr='#006cbfb1',GradientType=0 );
			}
	    	h1{
	    		color: white;
			    margin-left: 1em;
			    padding-left: 0.5em;
			    border-left: solid .5em white;
			    font-size: 2.5em;
			    @media screen and (max-width: $breakSmallLarge) {
			    	font-size: 1em;
	    			color: white;
				    margin-left: 1em;
				    padding-left: 0.5em;
				    border-left: solid .5em white;
				}
	    	}
	    	.link{
    		    display: block;
    			padding-left: 4em;
    			color: white;
    			@media screen and (max-width: $breakSmallLarge) {
	    			display: block;
	    			padding-left: 4em;
	    			color: white;
				}
    			.icono{
				    font-size: 2em;
				    padding-right: 0;
				    display: inline-block;
				    font-size: 2em; 
				    padding-right: .6em;
				    @media screen and (max-width: $breakSmallLarge) {
		    			font-size: 2em;
					    padding-right: 0;
					    display: inline-block;
					}
    			}
    			.descripcion{
				    display: inline-block;
				    width: 70%;
				    font-size: 1.7em;; 
				    @media screen and (max-width: $breakSmallLarge) {
		    			font-size: 1.2em;
					    display: inline-block;
					    width: 70%;
					}
    			}
	    	}
	    	.footerMenu{
	    		width: 78%;
			    position: absolute;
			    bottom: 34%;
			    height: 14%;
			    transform: translate(-50%,-50%);
			    left: 47%;
	    		.hashtag{
    			    font-size: 14em;
				    font-weight: bold;
				    width: 50%;
				    margin-right: 0;
				    bottom: -104%;
				    position: absolute;
				    z-index: 0;
				    @media screen and (min-width: $breakTabletSmall) and (max-width: $breakTabletLarge){
			    	    font-size: 15em;
					    font-weight: bold;
					    width: 50%;
					    margin-right: 0;
					    bottom: 202%;
					    position: absolute;
					    z-index: 0;
					    height: 0%;
				  	}
					span{
						color: #509CD5;
					}
	    		}
	    		.socialIcons{
	    			display: inline-block;
	    			position: absolute;
				    bottom: 32%;
				    left: 25%;
				    transform: translate(-50%,-50%);
				   	a{	
				   		.icono{
				   			color: white;
					   		font-size: 1.5em;
					   		margin-right: .5em;
				   		}
				   	}
				   	@media screen and (min-width: $breakTabletSmall) and (max-width: $breakTabletLarge){
			    	    left: 35%;
				  	}
	    		}
	    		@media screen and (max-width: $breakSmallLarge) {
		    		display: none;
				}
	    	}
	    }
	    .map{
    		position: absolute;
    		right: 0;
    		width: 70%;
    		height: 100%;
    		@media screen and (max-width: $breakSmallLarge) {
		    	position: absolute;
	    		bottom: 0;
	    		width: 100%;
	    		height: 50%;
			}
	    }
	    @media screen and (max-width: 650px){
			display: block;

	    }
	}
}

.align-right{text-align: right}
.align-left{text-align: left}
.bgButtonDown{@extend %backgroundImageLandingDown}
