//+++++++++++++++++Extends++++++++++++++++++++++++++
%modalTransitionTransform {
	-webkit-transition: .6s all cubic-bezier(.65,.26,.36,1.06);
    -moz-transition: .6s all cubic-bezier(.65,.26,.36,1.06);
    -o-transition: .6s all cubic-bezier(.65,.26,.36,1.06);
    -ms-transition: .6s all cubic-bezier(.65,.26,.36,1.06);
    transition: .6s all cubic-bezier(.65,.26,.36,1.06);
    -webkit-transform: translate(-50%, 0%);
    -ms-transform: translate(-50%, 0%);
    -o-transform: translate(-50%, 0%);
    -moz-transform: translate(-50%, 0%);
    transform: translate(-50%, 0%);
}
%closeModalTransition {
	transition: .4s all ease-in-out;
	-webkit-transition: .4s all ease-in-out;
	-moz-transition: .4s all ease-in-out;
	-o-transition: .4s all ease-in-out;
	-ms-transition: .4s all ease-in-out;
}
%backgroundModalRight{
	background-image: linear-gradient(to right, #ddd 0%, #fff 54%);
	background-image: -moz-linear-gradient(right, #ddd 0%, #fff 54%);
	background-image: -webkit-linear-gradient(right, #ddd 0%, #fff 54%);
	background-image: -ms-linear-gradient(right, #ddd 0%, #fff 54%);
	background-image: -o-linear-gradient(right, #ddd 0%, #fff 54%);
}
%backgroundModalDown{
	background-image: -webkit-radial-gradient(center, #fff 10%, #f6f6f6 52%);
	background-image: -moz-radial-gradient(center, #fff 10%, #f6f6f6 52%);
	background-image: -webkit-radial-gradient(center, #fff 10%, #f6f6f6 52%);
	background-image: -ms-radial-gradient(center, #fff 10%, #f6f6f6 52%);
	background-image: -o-radial-gradient(center, #fff 10%, #f6f6f6 52%);
}
%closeModalProduct {
	transition: .4s all ease-in-out;
	-webkit-transition: .4s all ease-in-out;
	-moz-transition: .4s all ease-in-out;
	-o-transition: .4s all ease-in-out;
	-ms-transition: .4s all ease-in-out;
}
%productContent {
	.container{
    	width: 91%;
    	padding-top: 2em;
    	text-align: left;
    	@media screen and (max-width: $breakSmallLarge) {
			width: 100%;
		}
		@media screen and (max-width: $breakSmall) {
			padding-top: .5em;
		}
    	h1 {
    		font-weight: 300;
    		font-family: 'Josefin Sans', Helvetica, sans-serif;
    		font-size: 2.5em;
    		text-transform: uppercase;
    		padding-left: .5em;
			border-left: solid .5em #6BBEB0;
    		@media screen and (max-width: $breakSmallLarge) {
				font-size: 1.4em;
				padding-left: .5em;
				border-left: solid .5em #6BBEB0;
				margin-top: 0;
			}
			@media screen and (min-width: $breakSmallMedium) and (max-width: $breakSmallLarge){
				font-size: 2em;
			}
	    }
	    
    	p{
    		font-family: sans-serif;
    		font-size: 1em;
			color: #656565;
			@media screen and (max-width: $breakSmall) {
				font-size: .9em;
			}
			@media screen and (min-width: $breakSmall) and (max-width: $breakSmallMedium) and (max-height: $breakHeightSmall){
				font-size: .9em;
			}
			@media screen and (min-width: $breakSmall) and (max-width: $breakSmallMedium) and (min-height: $breakHeightSmallLarge){
				font-size: 1.2em;
			}
			@media screen and (min-width: $breakSmallMedium) and (max-width: $breakSmallLarge){
				font-size: 1.4em;
			}
    	}

    	img{
		    width: 79%;
		    margin: 0 auto;
		    display: block;
		    margin-bottom: 1em;
    	}
    	a{
    		background: #3F4F9B;
    		color: white;
    		padding: .5em 1em;
    		-webkit-box-shadow: -3px 0px 6px 0px rgba(50, 50, 50, 0.45);
			-moz-box-shadow:    -3px 0px 6px 0px rgba(50, 50, 50, 0.45);
			box-shadow:         -3px 0px 6px 0px rgba(50, 50, 50, 0.45);
			float: right;
    	}
	}
}


//++++++++++++++++++++Modal Style+++++++++++++++++++++++++++++
.landing{
	.productosModal{
        perspective: 2000px;
	    height: 100%;
	    width: 53%;
	    position: absolute;
	    background: white;
	    right: -100%;
	    z-index: 8;
	    bottom: 0%;
		@media screen and (max-width: 600px){
			bottom: -110%;
			width: 100%; 
			left: 50%;
		}
		@extend %modalTransitionTransform;
		.productCube{
			position: relative;
		    height: 100%; 
		    width: 100%; 
		    transform-style: preserve-3d;
		    -ms-transform-style: preserve-3d;
		    -webkit-transform-style: preserve-3d;
		    -moz-transform-style: preserve-3d;
		    .face{
		    	position: absolute;
			    height: 100%; 
			    width: 100%; 
			    transition: .6s;
			    background-color: white;
			    box-shadow: 0 -10px 5px -5px rgba(0, 0, 0, 0.0980392);
		    }
		    .front{
		    	transform:  rotateY(-90deg) translateX(-50%) rotateY(0deg) translateX(50%) rotateY(90deg);
			    transform-origin: center center;
			    @extend %productContent;
			    
		    }
		    .der{
		    	transform:  rotateY(-90deg) translateX(-50%) rotateY(90deg) translateX(50%) rotateY(90deg); 
				@extend %productContent;
		    }
		    .izq{
		    	transform:  rotateY(-90deg) translateX(-50%) rotateY(-90deg) translateX(50%) rotateY(90deg); 
				@extend %productContent;
			}
			.back{
		    	transform:  rotateY(-90deg) translateX(-50%) rotateY(-180deg) translateX(50%) rotateY(90deg); 
				@extend %productContent;
			}
		}
		.fullscreen{
		    width: 100%;
		    height: 100%;
		    background: rgba(0, 0, 0, 0.5);
		    display: block;
		    position: absolute;
		    top: 0;
		    z-index: 2;
		    display: none;
		    @media screen and (min-width: $breakTabletSmall) {
				width: 107%; 
			}
		    .image-container{
		    	position: absolute;
		    	top: 50%;
		    	left: 50%;
		    	transform: translate(-50%,-50%);
		    	height: 50%;
		    	background: white;
		    	box-shadow: 0px 0px 10px 2px rgba(0,0,0,.4);
		    	width: 0%;
		    	transition: .4s all ease-in-out;
				-webkit-transition: .4s all ease-in-out;
				-moz-transition: .4s all ease-in-out;
				-o-transition: .4s all ease-in-out;
				-ms-transition: .4s all ease-in-out;
		    }
		    .cerrar-video{
		    	position: absolute;
		    	top: 3%;
		    	right: 3%;
		    	font-size: 2em;
		    	color: white;
		    	&:hover{
		    		cursor: pointer;
		    	}
				@media screen and (min-width: $breakTabletSmall){
					top: 7%;
				    right: 3%;
				    font-size: 3em;
				    color: white;
				}
			    
		    }
		}
	}
	.closeModal-product{
		font-size: 3em;
		position: absolute;
		right: -100%;
		top:  8%;
		color: black;
		z-index: 20;
		@extend %closeModalProduct;
		&:hover{
	    	cursor: pointer;
	    	color: #3F4F9B;
	    }
		@media screen and (max-width: $breakSmallLarge){
	    	top: 3%;
	    	font-size: 1.7em;
	    }
	    position: absolute;
	}
	.abrir-video{
        color: #ffffff;
	    position: absolute;
	    top: 45%;
	    left: 49%;
	    font-size: 2.5em;
        transform: translate(-50%, -50%);
	    box-shadow: 0px 0px 8px 3px rgba(0, 0, 0, 0.56);
	    background-color: #6bbeb0;
	    padding: .3em .5em .3em .7em;
	    border-radius: .1em;
	    opacity: 0;
	    -webkit-transition: .4s all cubic-bezier(.65,.26,.36,1.06);
	    -moz-transition: .4s all cubic-bezier(.65,.26,.36,1.06);
	    -o-transition: .4s all cubic-bezier(.65,.26,.36,1.06);
	    -ms-transition: .4s all cubic-bezier(.65,.26,.36,1.06);
	    transition: .4s all cubic-bezier(.65,.26,.36,1.06);
	    &:hover{
	    	cursor: pointer;
	    	background-color: #15463e;
	    }
	    @media screen and (max-width: $breakSmallLarge){
	    	top: 25%;
	    }
	    @media screen and (min-width: $breakTabletSmall) and (max-width: $breakTabletLarge){
	    	top: 36%;
	  	}
	  	@media screen and (max-width: $breakSmall) and (max-height: $breakHeightSmall){
			top: 22%;
		}
		@media screen and (min-width: $breakSmall) and (max-width: $breakSmallMedium) and (max-height: $breakHeightSmall){
			top: 33%;
		}
	}
}
