//++++++++Color++++++++++++++
$bgColor: #3F4F9B;
$bgColorModalRight: #6CBFB1;
//++++++++Logo
//Button
$upperButtonColor: #509CD5;
$downButtonColor: #6CBFB1;

$breakSmall: 360px;
$breakSmallMedium: 400px;
$breakSmallLarge: 750px;
$breakMedium: 900px;
$breakLarge: 1400px;
$breakTabletSmall: 750px;
$breakTabletLarge: 1050px;

$breakHeightSmall: 500px;
$breakHeightSmallLarge: 639px;